@import url('https://fonts.googleapis.com/css2?family=Radio+Canada+Big:ital,wght@0,400..700;1,400..700&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Radio Canada Big", sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #e4e4e6;
    margin: 0 1rem;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
}

#box {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding: 2rem;
    color: #333;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;
}

#box input {
    background-color: #e4e4e6;
    border: none;
    width: 100%;
    font-size: 1.25rem;
    color: #333;
    padding: 0.5rem;
}

button {
    margin-top: 10px;
    border: none;
    font-weight: bold;
    font-size: 1rem;
    background-color: #333;
    color: #fff;
    padding: 0.5rem 1rem;
    border-radius: 3px;
    width: 100%;
    max-width: 250px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #a11919;
}

#imgBox {
    display: flex;
    align-items: center;
    justify-content: center;
}

/*não aparece a imagem*/
.hidden {
    display: none;
}

/*erro no input*/
#box input.error {
    border-radius: 5px;
    border: 1px solid red;
    background-color: #ffe6e6;
}