@import url('https://fonts.googleapis.com/css2?family=Radio+Canada+Big:ital,wght@0,400..700;1,400..700&display=swap');

*{

    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Radio Canada Big", sans-serif;



}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #e4e4e6;
    margin: 0 1rem;
}

#container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;

    
}

#box{

    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    padding: 2rem;
    color: #333;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 400px;


}

